<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  Hello <%= locals.text_123 || 'Default' %>               <!--Here we can pass in JS or objects like <%= 2 + 2 %> -->
 <!--use locals. to give a value when an object is not defined, instead of crashing-->
<br />
 Hello <%= locals.how || 'Default' %> 
</body>
</html>